# build_directories
build/
build/*
out/

# cmake cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
# LOOK AT YOUR SOURCES
!CMakeLists.txt
!*.cmake.in

# compiler cache
.cache/
ccache/

# objects and executable
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# IDE files
.vscode/
.idea/
*.swp
